<section>
    <h3>勘星科技</h3>
    <p>北京勘星航天科技有限公司（简称勘星科技），2019年10月于北京成立，是一家专注于航天任务模拟体验的创新科技公司。</p>
    <footer>
        <a href="/about/" class="button">了解更多</a>
    </footer>
</section>
<!--<section>-->
<!--    <h3>Another Subheading</h3>-->
<!--    <ul class="links">-->
<!--        <li><a href="#">Amet turpis, feugiat et sit amet</a></li>-->
<!--        <li><a href="#">Ornare in hendrerit in lectus</a></li>-->
<!--        <li><a href="#">Semper mod quis eget mi dolore</a></li>-->
<!--        <li><a href="#">Consequat etiam lorem phasellus</a></li>-->
<!--        <li><a href="#">Amet turpis, feugiat et sit amet</a></li>-->
<!--        <li><a href="#">Semper mod quisturpis nisi</a></li>-->
<!--    </ul>-->
<!--    <footer>-->
<!--        <a href="#" class="button">More Random Links</a>-->
<!--    </footer>-->
<!--</section>-->
