<section class="col-6 col-12-narrower">
<div class="row gtr-50">
    <ul style="margin-top: 1em">
        <li style="text-align:left"><i style="margin-right:0.5rem" class="icon solid fa-envelope"></i><span>邮箱： zzxx513@163.com</span></li>
        <li style="text-align:left"><i style="margin-right:0.5rem" class="icon solid fa-phone"></i><span>联系电话/微信： 15011468498</span></li>
        <li style="text-align:left"><i style="margin-right:1rem" class="icon solid fa-map-pin"></i><span>地址：北京市朝阳区民族园路2号丰宝恒大厦4077</span></li>
    </ul>
</div>
</section>
